
.container {
    display: block;
    margin: 2rem;
    width: 20rem !important;
    height: 20rem !important;
    background-color: #dbc5aa;
    position: relative;
    border: 3px solid #a8a397;
    overflow: hidden;
}

.fillings-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.filling-image {
    height: 20rem !important;
    width: 100% !important;
    background-color: #f8f8f8;
    display: flex !important;
    align-items: center ;
    justify-content: center ;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.mag {
    width: 9rem;
    height: 10rem;
    position: relative;
    left: 0;
    top: 50%;
}

.mag_box {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
}


.mag_arc1,
.mag_arc2 {
    width: 4.5rem !important;
    height: 4.5rem !important;
    object-fit: contain;
    position: absolute;
    bottom: 6rem;
}

.mag_arc1 {
    left: 0;

}

.mag_arc2 {

    right: 0;
}

.rabbit {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.rabbit1 {
    width: 19.5rem;
    height: 19.5rem;
    object-fit: contain;
    position: absolute;
}

.rabbit2 {
    width: 19.5em !important;
    height: 19.5em !important;
    object-fit: contain !important;
    position: absolute;
    opacity: 100%;
}

.rabbit3 {
    width: 19.5rem;
    height: 19.5rem;
    object-fit: contain;
    position: absolute;
    opacity: 0%;
}

.text {
    margin: 2.5rem;
    font-size: 1.3rem;
    color: rgb(72, 72, 238);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0%;
}


/* Наведение мышкой на картинку */

.container:hover .rabbit1 {
    opacity: 0%;
}

.container:hover .rabbit3 {
    opacity: 100%;
    animation: snake 2s linear infinite;
}

.container:hover .text1 {
    opacity: 100%;
}

@keyframes snake {

    0%,
    100% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(20deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.mag:hover .mag_arc1,
.mag:hover .mag_arc2 {
    animation: rotate 4s linear infinite;
}

/* Нажатие мыши */

.container:active .text1 {
    opacity: 0%;
    transform: rotate(-20deg);
}

.container:active .text2 {
    opacity: 100%;
    transform: rotate(-20deg);
}

.container:active .mag_arc::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    left: 2.2rem;
    top: 1.5rem;
    background-color: #9b1d9d;
    border-radius: 50%;
    animation: circle_ani 4s linear infinite;
    z-index: 1;

}

@keyframes circle_ani {

    0% {
        transform-origin: 0rem 0rem;
        transform: rotate(0deg) translateX(2rem);
    }

    50% {
        transform-origin: 0rem 0rem;
        transform: rotate(360deg) translateX(2rem);
    }

    50.01% {
        transform-origin: 4.4rem 0rem;
        transform: rotate(0deg) translateX(2rem);
    }

    100% {
        transform-origin: 4.4rem 0rem;
        transform: rotate(-360deg) translateX(2rem);
    }
}


.container:active .rabbit3,
.container:active .rabbit2 {
    opacity: 100%;
    animation: zoom 5s linear infinite;
}


@keyframes zoom {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1)
    }

    25%,
    75% {
        transform: scale(0.9)
    }
}